<% # stylesheets 'scaffold' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<p>
  <b>Urn:</b>
  <%=h @page_object.urn %>
</p>

<p>
  <b>Accept list:</b>
  <%=h @page_object.accept_list %>
</p>

